.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    transition: all 0.5s;
    z-index: 2;
}

.navLogo{
    width: 100px;
    object-fit: contain;
}

.navAvatar{
    width: 30px;
    object-fit: contain;
}

.navBlack{
    background-color: #111;
}